img{
    width : 230px;
    height : auto;
    /*above sizes image*/
    border-radius: 50%;
    /*above reshapes image to oval shape*/
}
body{
    text-align: center;
    /*aligns text*/
}
p{
    font-family: Roboto;
    /*different font*/
    /*border-style: solid;  */
    /*bold text*/
}

.h3Header{
    font-family: Lato;
    /*different font*/
    color:rebeccapurple;
    /*colour text*/
    text-decoration: underline;
    /*underlines text*/
}

.p3Paragraph{ 
    font-family: Roboto;
    /*different font*/
    border-style: solid;
    /*bold text*/
    display: inline-block;
    /*border around text block*/
}

.h2Header{
    font-family: Lato;
    /*different font*/
    color:royalblue;
    /*colour text*/
    text-decoration: underline;
    /*underlines text*/
    text-decoration: solid;
    /*bold text*/
    text-align: middle;
    /*aligns text*/
}
